<div>
    <div class="container control-panel" *ngIf="userHolder.isUserAuthorized() && userHolder.getDataLoaded()">
        <input *ngIf="!isFolderMain()" class="btn btn-primary btn-control" value="Back" type="button" (click)="returnToPrevFolder()">
        <input *ngIf="!isObjectSelected() && ownFolders" class="btn btn-primary btn-control" value="Create" type="button" (click)="openModal()">
        <input *ngIf="isObjectSelected() && ownFolders" class="btn btn-primary btn-control" value="Delete" type="button" (click)="deleteObject()">
        <input *ngIf="isObjectSelected() && ownFolders" class="btn btn-primary btn-control" value="Update" type="button" (click)="openUpdateModal()">
        <input *ngIf="isObjectSelected() && ownFolders" class="btn btn-primary btn-control" value="Share" type="button" (click)="openShareModal()">
        <!--<input class="btn btn-primary btn-control inputfile" value="Upload" type="file" (change)="onChange($event)">-->
        <input *ngIf="ownFolders"type="file" name="file" id="file" (change)="onChange($event)" class="inputfile" />
        <label *ngIf="ownFolders" class="btn btn-primary" for="file" >Choose a file</label>
        <div  *ngIf="ownFolders" class="input-group search-bar-block">
            <input #searchBar type="text" class="form-control search-bar">
            <input type="button" value="Search" class="btn btn-primary btn-control" (click)="searchRequestPushed(searchBar.value)">
        </div>
    </div>
</div>

<modal #myModal class="modal-div">
    <div class="modal-title-container">
        <h3 class="modal-title">Create Folder</h3>
    </div>
    <div class="modal-in-container">
        <div class="form-group">
            <label for="folder-name">New folder name:</label>
            <input #folderName type="text" class="form-control" id="folder-name">
        </div>
        <input type="submit" value="Create" class="btn btn-primary btn-in-modal" (click)="createFolder(folderName.value)">
    </div>
</modal>

<modal #updateModal class="modal-div">
    <div class="modal-title-container">
        <h3 class="modal-title">Update Folder</h3>
    </div>
    <div class="modal-in-container">
        <div class="form-group">
            <label for="update-name">New folder name:</label>
            <input [value]="getActiveFolderName()" #updateName type="text" class="form-control" id="update-name">
        </div>
        <input type="submit" value="Update" class="btn btn-primary btn-in-modal" (click)="updateObject(updateName.value)">
    </div>
</modal>

<modal #shareModal class="share-modal-div" *ngIf="currentUser != null">
    <div class="modal-title-container">
        <h3 class="modal-title">Sharing</h3>
    </div>
    <div class="modal-in-container">
        <div *ngFor="let friend of currentUser.friends">
            <div class="form-group modal-in-container share-container">
                <div class="form-group" style="line-height: 45px; margin-right: 30px;">
                    <p>{{friend.username}}</p>
                </div>
                <input type="submit" value="Give read" class="btn btn-primary btn-in-modal btn-share" (click)="giveReadPermissions(friend)">
                <input type="submit" value="Deny read" class="btn btn-primary btn-in-modal btn-share" (click)="denyReadPermissions(friend)">
            </div>
        </div>
    </div>
</modal>