.control-panel {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-flex;
}

.modal-div {
    width: 400px;
    height: 160px;
    margin-left: 20px;
}

.share-modal-div {
    font-family: "Trebuchet MS";
    position: absolute;
    width: 600px;
    left: 30%;
    height: 450px;
    outline: none;
}

.btn-control {
    margin-left: 5px;
    background-color: darkgray;
    border-color: darkgray;
    color: #fffb2f;
    width: 120px;
    height: 45px;
    text-align: center;
}

.btn-control:first-child {
    margin-left: 0;
}

.search-bar-block {
    margin-top: 5px;
    height: 45px;
    position: fixed;
}

.search-bar {
    width: 200px;
    margin-left: 20px;
}

a:hover{
    text-decoration: none;
}

.modal-title {
    color: #fffb2f;
    font-weight: 600;
    font-size: 32px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
    text-align: center;
}

.modal-div {
    font-family: "Trebuchet MS";
    position: absolute;
    margin: auto;
    width: 600px;
    height: 450px;
    outline: none;
}

.modal-in-container {
    padding: 20px;
}

.btn-in-modal, .btn-in-modal:active {
    background-color: #767676;
    border-color: #767676;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
    color: #fffb2f;
}

.modal-title-container {
    width: 100%;
    height: 56px;
    line-height: 56px;
    background-color: #767676;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #767676;
    border-color: #767676;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
    color: #fffb2f;
    height: 45px;
}

.share-container {
    display: flex;
    height: 100px;
}
.btn-share {
    margin-left: 5px;
    margin-right: 5px;
}
