.sign-in-format {
    color: #fffb2f;
    font-weight: 500;
    font-size: 20px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
}

.sing-in-text {
    cursor: pointer;
}

.modal-div {
    font-family: "Trebuchet MS";
    position: relative;
    margin: auto;
    width: 600px;
    height: 400px;
    outline: none;
}

.modal-title-container {
    width: 100%;
    height: 56px;
    line-height: 56px;
    background-color: #767676;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
}

.modal-title {
    color: #fffb2f;
    font-weight: 600;
    font-size: 32px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
    text-align: center;
}

.sign-in-container {
    padding: 20px;
}

.btn-sign-in-modal, .btn-sign-in-modal:active {
    background-color: #767676;
    border-color: #767676;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
    color: #fffb2f;
}

.remember-me-label {
    outline: none;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

#rememberMeCheck {
    margin-left: 10px;
}

#restore-password-link {
    float: right;
    margin-top: 5px;
    cursor: pointer;
}
#restore-password-link:hover {
    text-decoration: underline;
}