.sign-in-format {
    color: #fffb2f;
    font-weight: 500;
    font-size: 20px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
}

.sing-in-text {
    cursor: pointer;
}

.modal-div {
    width: 400px;
    height: 300px;
    margin-left: 20px;
}

.modal-title {
    text-align: center;
}