.profile-holder {
    margin-left: 240px;
    margin-top: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 1px solid darkgrey;
    width: 81%;
}
a:hover{
    text-decoration: none;
}

.request-background {
    background-color: #d7d7d7;
}

.request-padding {
    padding: 20px;
}

.btn-control {
    background-color: whitesmoke;
    /*border-color: darkgray;*/
    color: #fffb2f;
    margin-left: 18%;

}

.btn-control:hover{
     background-color: lightgrey;
}

.friend-block{
    background-color: whitesmoke;
    border-radius: 5px;
    width: 180px;
    height: 320px;
}


.requests-holder {
    margin-left: 240px;
    margin-top: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 1px solid darkgrey;
   width: 81%;
}

.inner-profile-holder {
    padding: 20px;

}
.contact-image {
    margin-top: 2%;
    width: 150px;
    height: 150px;
    margin-left: 7%;
}

.modal-title {
    color: #fffb2f;
    font-weight: 600;
    font-size: 32px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
    text-align: center;
}

.modal-div {
    font-family: "Trebuchet MS";
    position: absolute;
    margin: auto;
    width: 600px;
    height: 450px;
    outline: none;
}

.modal-in-container {
    padding: 20px;
}

.btn-in-modal, .btn-in-modal:active {
    background-color: #767676;
    border-color: #767676;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
    color: #fffb2f;
}

a {
    color: #fffb2f;
}

.modal-title-container {
    width: 100%;
    height: 56px;
    line-height: 56px;
    background-color: #767676;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
}