<div class="profile-holder container">
    <div *ngIf="isLoaded && userHolder.isUserAuthorized()" class="inner-profile-holder">
        <h3>User profile</h3>
        <div class="form-group">
            <label for="username">Username:</label>
            <span id="username">{{user.username}}</span>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <span id="email">{{user.email}}</span>
        </div>
        <div class="form-group">
            <label for="firstname">First name:</label>
            <span id="firstname">{{user.first_name}}</span>
        </div>
        <div class="form-group">
            <label for="lastname">Last name:</label>
            <span id="lastname">{{user.last_name}}</span>
        </div>
        <div *ngIf="ownUser" class="form-group">
            <input class="btn btn-primary btn-in-modal" value="Change password" (click)="openChangePasswordModal()"/>
        </div>
    </div>
</div>
<div *ngIf="isLoaded && showUserRequests() && userHolder.isUserAuthorized()" class="requests-holder container">
    <h3>Active requests: </h3>
    <div *ngFor="let request of user.requests">
            <div class="request-padding">
                <div class="form-group">
                    <label for="request_username">Username:</label>
                    <span id="request_username">{{request.username}}</span>
                </div>
                <div class="form-group">
                    <label for="request_data">Date:</label>
                    <span id="request_data">{{showCorrectDate(request.date.$date) | date: 'dd/MM/yyyy'}}</span>
                </div>
                <div>
                    <div class="btn btn-primary btn-in-modal" (click)="acceptRequest(request)">
                        Accept
                    </div>
                    <div class="btn btn-primary btn-in-modal" (click)="declineRequest(request)">
                        Decline
                    </div>
                </div>
        </div>
    </div>
</div>

<div *ngIf="isLoaded  && userHolder.isUserAuthorized()" class="requests-holder container">
    <div *ngFor="let friend of user.friends">
        <div class="friend-block" >
            <img class="contact-image" src="/app/contacts/resources/simple.png">
            <p style="text-align: center">{{friend.username}}</p>
            <div class="form-group">
                <div class="btn btn-primary btn-in-modal" (click)="openUsersFolders(friend)">
                    <a [routerLink] = '["folders", friend.username]'>
                        <div>
                            {{friend.username}}`s profile
                        </div>
                    </a>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-in-modal" value="Remove" (click)="deleteFromFriends(friend)"/>
            </div>
        </div>
    </div>
</div>

<modal #changePasswordModal class="modal-div">
    <div class="modal-title-container">
        <h3 class="modal-title">Change password</h3>
    </div>
    <div class="modal-in-container">
        <div class="form-group">
            <label for="first-pass">Enter password:</label>
            <input #updatePassword type="password" class="form-control" id="first-pass">
        </div>
        <div class="form-group">
            <label for="second_pass">Enter password again:</label>
            <input #updatePasswordSecond type="password" class="form-control" id="second_pass">
        </div>
        <input type="submit" value="Change" class="btn btn-primary btn-in-modal" (click)="changePassword(updatePassword.value, updatePasswordSecond.value)">
    </div>
</modal>