<div class="sign-up-format">
    <span class="sing-up-text vertical-line" (click)="openModal()">
        {{ buttonText }}
    </span>
</div>
<modal #registerModal class="modal-div">
    <div class="modal-title-container">
        <h3 class="modal-title">Registration</h3>
    </div>
    <div class="sign-up-container">
        <div class="form-group">
            <label for="email">Email:</label>
            <input [(ngModel)]="data.email" type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input [(ngModel)]="data.password" type="password" class="form-control" id="pwd">
        </div>
        <div class="form-group">
            <label for="f_name">Firstname:</label>
            <input [(ngModel)]="data.firstname" type="text" class="form-control" id="f_name">
        </div>
        <div class="form-group">
            <label for="s_name">Secondname:</label>
            <input [(ngModel)]="data.secondname" type="text" class="form-control" id="s_name">
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input [(ngModel)]="data.username" type="text" class="form-control" id="username">
        </div>
        <button (click)="sendRegisterRequest()" class="btn btn-primary btn-sign-in-modal">Sign up</button>
    </div>
</modal>