.btn-control {
    background-color: darkgray;
    border-color: darkgray;
    color: #fffb2f;
    margin: 0 auto;
}

.contacts-holder {
    margin-left: 220px;
    margin-top: 20px;
}

.search-bar {
    width: 300px;
    margin-right: 20px;
}

.user-profile {
    margin-right: 30px;
    width: 180px;
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

.contact-image {
    width: 150px;
    height: 150px;
}

div {
    display: inline-block;
}

p {
    text-align: center;
    font-size: 24px;
}

a {
    color: #fffb2f;
}
a:hover{
    text-decoration: none;
}

